extends layouts/main-layout.pug

block styles
	link(rel="stylesheet", href="/css/product.css")

block content
	main
		form.main-form(action="/admin/add-product" method="POST")
			input.main-form__input(type="text" name="title")
			button.main-form__button(type="submit") Add Product
