<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
	<%- include('../includes/navigation.ejs') %>

    <main>
		<% if (items.length > 0) { %>
			<div class="grid">
				<% for (let item of items) { %>
					<article class="card product-item">
						<header class="card__header">
							<h1 class="product__title"><%= item.title %></h1>
						</header>
						<div class="card__image">
							<img src="https://cdn.radiofrance.fr/s3/cruiser-production/2016/11/ac7d7e2c-f708-4140-80a0-4d254f77320f/640_gettyimages-521811839.jpg" alt="A Book">
						</div>
						<div class="card__content">
							<h2 class="product__price">$19.99</h2>
							<p class="product__description">A very interesting book about so many even more interesting things!</p>
						</div>
						<div class="card__actions">
							<button class="btn">Add to Cart</button>
						</div>
					</article>
				<% } %>
			</div>
		<% } else  { %>
			<h1 class="main-title">No Products Found</h1>
		<% } %>
	</main>
<%- include('../includes/footer.ejs') %>
