<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/navigation.ejs') %>

	<main>
		<h1 class="main-title">Some error occured</h1>
		<p class="centered">We're working on it, Sorry for the inconvenience</p>

	</main>
<%- include('../includes/footer.ejs') %>
